.step {
	display: none;
}
input[type="number"]{
	width: 15vw;
}
/* .navbar {
	height: 100px;
} */

.sexlabel {
	margin-left: -207px;
}
@media screen and(max-width: 975px) {
	.sexlabel {
		margin-left: -218px;
	}
}

@media screen and (max-width: 1024px) {
	.sexlabel {
		margin-left: -247px;
	}
}

@media all and (max-device-width: 480px)
{
    .sexlabel {
		margin-left: -207px;
	}
}